table.dataTable thead > tr > th {
	padding-right: 0px;
}

#treeview{
	margin: 0 1px;
    background: #2c3b41;
    padding-left: 5px;
}

#itemtree{
	padding: 5px 5px 5px 25px;
    display: block;
    font-size: 14px;
}


#itemtree:hover { 
    color: #ECF0F5;
}

#childicon{
	margin-right: 6px;
}